.header {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  gap: 24px;
  .header_title {
    font-size: 27px;
    font-weight: bolder;
    cursor: pointer;
    color: var(--lt-primary);
    &:hover {
      color: var(--lt-hovered-primary);
    }
  }
  .plug {width: 100%;}
}