.container {
    width: 968px;
    margin: 0 auto;
    padding-top: 24px;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-rows: fit-content(1px) 1fr fit-content(1px);
    gap: 24px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    .header_title {
        font-size: 36px;
        font-weight: bold;
        cursor: pointer;
        a {
            color: #4F5D75;
        }
    }
}
.main {

}
.footer {
    padding: 16px 0;
    text-align: left;
    height: fit-content;
    flex: 0 0 auto;
    display: flex;
    gap: 24px;
    align-items: center;
}