.editor_buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  .button {
    padding: 8px 16px;
    border: 1px solid var(--lt-bordered-btn-background);
    border-radius: 4px;
    color: var(--lt-sub-span-font-color);
    background: var(--lt-primary);
    cursor: pointer;
    &:hover {
      background: var(--lt-hovered-primary);
    }
  }
  .button.active {
    background: var(--lt-hovered-primary);
  }
}