@font-face {
    font-family: Rubik;
    src: url('../public/fonts/Rubik/Rubik-Regular.ttf');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Rubik, SansSerif, serif;
}
body {
    background: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    color: #2D3142;
}

:root {
    --lt-background: #ffffff;
    --lt-primary: #87B2E6;
    --lt-hovered-primary: #8397DF;
    --lt-sub: #91EAE4;
    --lt-plates-background: #F7F7F9;
    --lt-hovered-plates-background: #EDEDED;
    --lt-plates-border: #F2F2F2;
    --lt-main-font-color: #000000;
    --lt-span-font-color: #86A8E7;
    --lt-sub-span-font-color: #ffffff;
    --lt-linear-gradient: linear-gradient(93.94deg, #7F7FD5 -2.11%, #86A8E7 52.11%, #91EAE4 97.47%);
}